{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<style>
    #id_articleImage{


    background-color: cornflowerblue;
    height:3rem;
    z-index: 3;
    color: red;
    display:none;

}

#id_articleImage2{


background-color: cornflowerblue;
height:3rem;
z-index: 3;
color: red;
text-align: center;
align-content: center;

}
    
    </style>
    <br>
    
    <div class="container col-md-8 col-lg-6 col-xs-8">
        <div style=" right:1rem; position:absolute" class = "pull-right ">
            <button type = "button" onclick="history.back()" class="btn btn-primary">{{lang.goBack}}</button>
            
        </div>
        <div class="container">
        <div class="row">
<h1>{{lang.editArticle}}</h1>
<hr>
<form action="/articles/editarticle/{{id}}/" method = "POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form|crispy}}
    <div class="input-group">
        <div class="custom-file">
          <!-- <input type="file" class="" id="inputGroupFile04"> -->
          <input type="file" name="articleImage" color="yellow" class="custom-file-input" id="id_articleImage2" height="10rem" placeholder="CHOOSE FILE/RESIM SEÇ">
        </div>

          <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
        </div><br>
    <button type = "submit" class ="btn btn-danger">{{lang.save}}</button>
</form>


    
</div>
</div>
</div>

<br><br>
{% endblock body %}
