
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
</head>
<body>
    <div class="container" style = "margin-top: 3rem; margin-bottom:8rem;">
        
        <div class="row">

            <div class="col">
            
             <h4><strong>{{ subject }}</strong></h4>
             <hr style = "margin-top:0; background-color:aqua">
             <strong>Tarih : </strong><em>{{ date }}</em><br><hr style ="width:15rem; text-align: center;">
             <strong>Tamamlanma Durumu : </strong><em>Tamamlanmadı !</em><br><hr style ="width:15rem; text-align: center;">
             <strong>İçerik : </strong><em>{{ todo }}</em><br><hr style ="width:15rem; text-align: center;">
            


            </div>
            
        </div>
        

</body>
</html>
